body {
    margin: 0;
    font-family: helvetica, sans-serif;
}

address {
    font-style: normal;
}

.top{
    width: 92%;
    height: 4vh;
    padding-left:  4%;
    padding-right: 4%;
    padding-bottom: 4vh;
    padding-top: 2vh;
    background-color: black;
    
}

.top div{
    display: inline-block;
    background-color: black;
    color: white;
    margin-left: 1vh;
    margin-right: 0vh;
    font-size: 0.9rem;
    padding: 1.5vh;
    border-radius: 3vh;
    position: relative;
    bottom: 1vh;
    cursor: pointer;
}

.top div a {
    text-decoration: none;
    color: white;
}

.topLeft img{
    height: 1.6vh;
    width: 1.76vh;
    position:absolute;
    left: 12.5vh;
    top: 2vh;
}
#company .bottom_black {
    display: none;
}
#company .bottom_white {
    display: inline-block;
}

.top div:hover {
    background-color: rgba(127, 127, 127, 0.5);
}

.topRight {
    text-align: right;
}

#uber {
    font-size: 1.5rem;
    position: relative;
    bottom: 0.5vh;
    cursor: default;
}

#company {
    width: 13vh;
}



#uber:hover {
    background-color: black;
}

#empty{
    width: 41%;
    height: 0;
    border: none;
    cursor: default;
}

#empty:hover {
    background-color: black;
}

#language {
    width: 11vh;
    position: relative;
}

#language img{
    width: 2.64vh;
    height: 2.5vh;
    position: absolute;
    left: 3.08vh;

}

#productsMobile {
    display: none;
}
#products {
    width: 15.4vh;
    position: relative;
}

#products img{
    width: 2.64vh;
    height: 2.5vh;
    position: absolute;
    left: 3.08vh;
    border: none;
}

#signup {
    background-color: white;
    color: black;
}
.menu_Icon {
    display: none;
}

#signup:hover {
    background-color: #e0e0e0;
}

.secondtop {
    width: 92%;
    height: 8vh;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3vh;;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: white;
}

.secondtop div, .secondtop h2 {
    display: inline-block;
}

.secondtop .deliverDrop {
    display: inline-block;
}
.secondtop div, .secondtop h2 {
    margin-left: 2.2vh;
}

.secondtop h2 {
    width: 56%;
}
.secondtop h2 img {
    display: none;
}
.secondtop div {
    font-size: 0.9rem;
    color: #6B6B6B;
}

.secondtop a:hover {
    color: black;
}

.secondtop a{
    text-decoration: none;
    color: #6B6B6B;
}

.thirdtop {
    background-color: black;
    color: white;
    width: 98%;
    padding-bottom: 10vh;
    padding-top: 10vh;
    padding-left: 2%;
}

.thirdtop div{
    position: absolute;
    font-size: 3rem;
    width: 30%;
    height: 20vh;
    margin-top: 28vh;
    margin-left: 11vh;
}

.thirdtop p{
    display: inline-block;
    position: absolute;
    height: 3.5vh;
    margin-top: 56vh;
    font-size: 1rem;
    font-weight:600;
    text-align: center;
    vertical-align: center;
    padding: 2vh 0;
}


#deliverSignUp {
    background-color: white;
    color: rgba(30, 30, 30, 1.0);
    border-radius: 1vh;
    margin-left: 11vh;
    width: 28.6vh;
}

#deliverSignIn {
    margin-left: 44vh;
    border-bottom: 1px solid #e0e0e0;
    padding: 0;
    top: 33vh;
}

#deliverSignUp:hover {
    background-color: #e0e0e0;
}

#deliverSignUp a {
    color: black;
    text-decoration: none;
}

#deliverSignIn a {
    color: white;
    text-decoration: none;
}

.thirdtop img {
    position: relative;
    margin-left: 110vh;
}

.search {
    width: 98%;
    padding-bottom: 10vh;
    padding-top: 8vh;
    padding-left: 2%;
    height: 30vh;
}

.search div{
    display: inline-block;

}

.search h1 {
    margin-left: 5vh;
    font-size: 2rem;

}

.search input {
    width: 169.4vh;
    height: 6vh;
    margin-left: 11vh;
    border-radius: 1.5vh;
    background-color: rgba(227, 227, 227, 0.6);
    border: none;
    padding: 1vh 2.2vh;
    font-size: 17px;
}

#searchIcon {
    background-color: black;
    width: 7.04vh;
    height: 6vh;
    border-radius: 1vh;
    padding-top: 1.5vh;
    margin-left: 2.2vh;
    position: absolute;

}

#searchIcon:hover {
    background-color: rgba(50, 50, 50, 1.0);
    cursor: pointer;
}
.search img {
    width: 6.6vh;
    height: 5vh;
    margin-top: 0vh;
}

.video {
    width: 84%;
    height: 120vh;
    padding: 0 8%;;
}

.video iframe{
    width: 100%;
    height: 100vh;
    border: none;
}

.middle {
    height: 370vh;
}

.middle h1 {
    margin-left: 17.6vh;
    margin-bottom: 5vh;
    font-size: 2rem;
    color: #2D3645;
}
.middle article {
    position: relative;
    width: 100%;
    height: 44vh;
}

.middle div{
    display: inline;
}

.icon {
    position: absolute;
    height: 40vh;
    width: 44vh;
    padding-left: 28.6vh;
}

.icon img {
    height: 35vh;
    width: 35vh;
}

.dot {
    height: 1.43vh;
    width: 1.43vh;
    background-color: black;
    position: absolute;
    top: 0.5vh;
    left: 84.04vh;
    margin-top: 0vh;
}

.verline {
    border-left: 1px solid black;
    height: 41.4vh;
    position: absolute;
    left: 84.7vh;
    top: 2.2vh;
    margin-top: 0.3vh;
}

.textarea {
    width: 99vh;
    height: 40vh;
    position: absolute;
    left: 88vh;
    padding-left: 6.6vh;
    color: #2D3645;
}

#textarea1 nav {
    display: inline-block;
    margin-top: 2vh;
    margin-right: 4.4vh;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1vh;; 
}

#textarea1 a {
    color: black;
    text-decoration: none;
}

.textarea_heading {
    font-weight: 600;
    position: relative;
    top: -2vh;
}

.textarea_parag {
    position: relative;
    top: -2vh;
}

li {
    margin-bottom: 1vh;
}


.secondmiddle h1 {
    color: #323232;
    font-size: 2rem;
    margin-left: 17.6vh;
}

.dropdown {
    margin-left: 17.6vh;
    border-bottom: 1px solid rgba(127, 127, 127, 0.5);
    width: 80%;
    padding: 2vh;
    color: #2D3645; 
}
.dropdown input, .dropdown ul {
    display: none;
}

.dropdown label:hover {
    cursor: pointer;
}

#checkbox1:checked ~ #list1 {
    display: block;
}

#checkbox2:checked ~ #list2 {
    display: block;
}
.dropdown a {
    color: #2D3645;
}

.signuptoday {
    margin-left: 17.6vh;
    margin-top: 10vh;
    padding: 11vh 0;
    height: 8vh;
    width: 40%;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
}

.signuptoday a:hover {
    color: #6B6B6B;
}

.signuptoday a{
    color: black;
    text-decoration: none;
}
.signuptoday img {
    height: 5vh;
    width: 10vh;
    margin-left: 39vh;
}

.driverapp {
    height: 53vh;
    background-color: #F6F6F6;
    margin-top: 10vh;
    padding: 6vh 17.6vh;
}

.driverapp a {
    color: black;
    text-decoration: none;
}

.driverapplogo {
    height: 26vh;
    background-color: white;
    width: 83.6vh;
    border: 0.5px solid rgba(127, 127, 127, 0.3);
    padding: 4vh;
}


.driverapp h1 {
    font-size: 2rem;

}
.driverapplogo h1 img {
    height: 3vh;
    width: 7vh;
    margin-left: 3vh;
}

.driverapplogo img {
    height: 25vh;
    width: 25vh;
}

.driverapplogo h1 {
    display: inline-block;
    font-size: 1.5rem;
    position: relative;
    bottom: 10vh;
    left: 4.4vh;
}

.notice {
    padding-top: 10vh;
    padding-bottom: 5vh;
    padding-left: 17.6vh;
    width: 198vh;
    height: 10vh;
    font-size: 0.9rem;
    color:rgba(70, 70, 70, 1.0);
} 

.notappear {
    display: none;
}

#companyDropdown {
    position:absolute;
    background-color: white;;
    top: 10vh;
    left: calc(4vw + 95px);
    z-index: 2;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
    padding: 0;
    width: 150px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

#companyDropdown li{
    position: relative;
    right: 40px;
    list-style-type: none;
    padding: 5px 10px;
    font-size: 0.9rem;
    color:#6B6B6B;
    width: 130px;
}

#companyDropdown a{
    text-decoration: none;
}
#companyDropdown li:hover {
    background-color: #F6F6F6;
    color: black;
}
.backIcon {
    position: absolute;
    right: calc(10px + 10vw);
    top: 10vh;
    width: 35px;
    height: 35px;
    padding: 20px;
    border-radius: 40px;
}

.backIcon:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.backIcon img {
    height: 25px;
    position: relative;
    top: 4px;
    left: 4px;
}

#langDropdown h1{
    position: relative;
    top: 20vh;
    left: 10vw;
    width: fit-content;
}
#langDropdown a{
    text-decoration: none;
    color: black;
}

#langbtn {
    position: relative;
    top: 30vh;
    left: 10vw;
    width: 20%;
    min-width: 200px;
    height: 37px;
    border-radius: 10px;
    padding: 18px 0 0 25px;
    font-weight: 600;
    background-color: #e6e6e6;
}

#productsDropdown {
    height: 300px;
    width: 250px;
    position: absolute;
    background-color: white;
    top: 10vh;
    left: 62vw;
    z-index: 1;
    overflow-y:scroll;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 5px;
}

.productList {
    padding: 20px 30px;
    border-bottom: 0.5px solid rgba(200, 200, 200, 0.3);
}

.productList a {
    width: 100%;
    text-decoration: none;
    color: black;
}

.productList:hover {
    background-color: #F6F6F6;
}

.productList img{
    height: 20px;
    margin-right: 20px;
}

.productName {
    display: inline-block;
    font-weight: 600;
    color: black;
}

.submenu {
    position: absolute;
    background-color: white;
    top: 20vh;
    z-index: 1;
    width: 100%;
    min-height: 80vh;
}
#loginDropdown, #signUpDropdown {
    padding-bottom: 150px;
    height: fit-content;
}

#loginDropdown a, #signUpDropdown a{
    text-decoration: none;
    color: black;
}

.dropdownItems {
    display: inline-block;
    position: relative;
    top: 25vh;
    border-bottom: 1px solid black;
    width: 35%;
    min-width: 400px;
    margin: 50px 0 20px 10vw;
    height: fit-content;
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 20px;
}

.dropdownItems:hover{
    color: #6B6B6B;
    cursor: pointer;
}

.dropdownItems img {
    height: 25px;
    position: absolute;
    right: 2px;
    top: 30px;
}

.dropdownItems p {
    display: inline-block;
    width: 80%;
}

#locationDropdown h1{
    position: relative;
    top: 20vh;
    left: 6vw;
    display: inline-block;
    width:fit-content;
}

#locationDropdown input{
    position: relative;
    top: 19vh;
    left: 15vw;
    display: inline-block;
    width: 40%;
    min-width: 500px;
    height: 40px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 6px;
    padding-left: 20px;
    font-size: 1.1rem;
}

#locationInfo {
    position: relative;
    top: 20vh;
    left: calc(15vw + 330px);
    width: 40%;
    min-width: 500px;
}

#locationbtn {
    position: relative;
    top: 20vh;
    left: calc(15vw + 330px);
    background-color: black;
    color: white;
    width: fit-content;
    padding: 13px;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 15px;
}

#locationDropdown h3 {
    position: relative;
    top: 20vh;
    left: calc(15vw + 330px);
    width: fit-content;
    margin-top: 30px;
}

#hiddenText {
    position: relative;
    top: 20vh;
    left: calc(15vw + 330px);
    width: 40%;
    min-width: 500px;
}

footer {
    height: auto;
    background-color: black;
    color: white;
    padding-top:  15.4vh;
    padding-left: 7vw;
    padding-bottom: 25vh;
}

footer article {
    position: relative;
}


footer div {
    display: inline-block;
    position: relative;
    width: 33vh;
}

footer a {
    text-decoration: none;
    color:white;
}

.foothead div{
    padding-bottom: 7vh;
    padding-top: 3vh;
    width: unset;   
    border-bottom: 1px solid black; 
}
.foothead div:hover {
    border-bottom: 1px solid white;
}

.column a:hover {
    color: #6B6B6B;
}

.column_head {
    font-size: 1rem;
    font-weight: 600;
}

.column {
    width: 20%;
    margin-top: 30px;
    display: inline-table;
    position: relative;
    font-size: 0.9rem;
}
.column div{
    margin-right: 5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.icons {
    top: 7vh;
}

.icons img {
    height: 3vh;
    width: 3vh;
    margin: 0 1vh;
}

.icons p {
    display: inline-block;
    height: 5vh;
}

.icons1 {
    width: 50%; 
}

.icons1 img {
    margin-right: 4vw;
    padding: 2vh;
    border-radius: 1vh;
}
.icons1 img:hover {
    background-color:#323232;
}

.icons2 {
    width: 18%;
    padding-left: 50vh;
}

.icons2 img {
    position: relative;
    top: 3px;
    
}

.icons2 a {
    height: 3vh;
    padding: 2vh;
    border-radius: 2vh;
}
.icons2 a:hover {
    background-color: #323232;
    cursor: pointer;
}

.appstore {
    top: 10vh;
}

.appstore img {
    width: 20vh;
    height: 10vh;
    margin-right: 2vh;;
}

.appstore div {
    width: unset;
}

.foot {
    top: 20vh;
}

.foot p {
    display: inline-block;
    font-size: 0.9rem;
    color: #6B6B6B;
    margin-right: 5vh;
}

.leftfoot {
    width: auto;
}

.rightfoot {
    width: auto;
    padding-left: 27vw;
}

.rightfoot a {
    color:#6B6B6B;
}

.rightfoot a:hover {
    color:#222222;
}

.menu_mobile {
    display: inline-block;
}

@media (max-width: 768px) {
    .top .topRight,.top #empty {
        display: none;
    }
    .top #uber, .top #login, .top #signup {
        display: inline-block;
    }
    .notappear {
        display: none;
    }
    .menu_mobile {
        position: absolute;
        background-color: white;
        top: 20vh;
        left: 0;
        z-index: 1;
        width: 100%;
        min-height: 80vh;
        padding-bottom: 100px;
    }
    .menu_mobile div {
        display: unset;
        background-color: white;
        color: black;
        margin-left: 1vh;
        margin-top: 20px;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 1.5vh;
        border-radius: 3vh;
        position: relative;
        bottom: 0vh;
        cursor: pointer;
    }
    .menu_mobile div a{
        color: black;
    }
    .menu_mobile .topLeft {
        display: block;
    }
    #company {
        width: 80%;
    }
    #company:hover {
        background-color: white;
    }
    #company .bottom_white {
        display: none;
    }
    #company .bottom_black {
        display: inline-block;
        height: 20px;
        width: 20px;
        position: relative;
        left: 12.5vh;
        top: 0vh;
    }
    #companyDropdown {
        position: relative;
        background-color: white;
        top: 0vh;
        left: 0;
        box-shadow: 0 0 0 0;
        padding-left: 10vw;
        width: 80%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    #companyDropdown li{
        margin: 20px 0;
        font-size: 1rem;
        width: 100%;
    }
    #productsMobile {
        width: 80%;
        position: relative;
        display: block;
        font-size: 1.5rem;
        margin-left: 10vw;
        margin-top: 80px;
        text-align: center;
        padding: 10px 0;
        border-radius: 10px;
        background-color: #e6e6e6;
    }
    #productsMobile:hover {
        background-color: #e0e0e0;   
        cursor: pointer;     
    }
    
    #productsMobile img{
        width: 20px;
        height: 20px;
        position: relative;
        left: -10px;
        border: none;
    }
    #productsDropdown {
        height: fit-content;
        width: 100%;
        top: 20vh;
        left: 0;
        z-index: 0;
        overflow-y:unset;
        box-shadow: 0 0 0 0;
        border-bottom-left-radius: 0px;
    }

    .top #login {
        position: absolute;
        right: 130px;
        bottom: 86vh;
    }
    .top #signup {
        position: absolute;
        right: 60px;
        bottom: 86vh;
    }
    .top .notappear {
        display: none;
    }
    .top .menu_Icon {
        /* display: inline-block; */
        position: absolute;
        right: 10px;
        bottom: 86vh;
        width: 20px;
    }
    .top #menuIconClose {
        background-color: #323232;
    }
    .secondtop div {
        display: block;
        margin: 20px;
    }
    .secondtop h2:hover{
        color:#6B6B6B;
        cursor: pointer;
    }
    .secondtop h2 img{
        height: 1.6vh;
        width: 1.76vh;
        position: relative;
        left: 7px;
        top: -2px;
        background-color: white;
        display: inline-block;
    }
    .secondtop {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .secondtop article {
        position: absolute;
        background-color: white;
        top: 10vh;
        z-index: 1;
        width: 100%;
        min-height: 50vh;
        margin-left: 0;
        padding-top: 20px; 
    }
    .secondtop .deliverDrop {
        display: block;
    }
    .secondtop .notappear {
        display: none;
    }
    .thirdtop {
        padding-top: 7vh;
        padding-bottom: 35vh;
    }
    .thirdtop div {
        position: absolute;
        left: 7%;
        margin: 0;
        font-size: 2rem;
        width: 70%;
    }
    .thirdtop p {
        position: absolute;
        left: 7%;
        top: 40vh;
        margin: 0;
    }
    #deliverSignUp {
        margin: 20px 0;
    }
    #deliverSignIn {
        margin: 20px 0;
        top: 50vh;
    }
    .thirdtop img {
        margin-left: 5%;
        top: 30vh;
        width: 90%;
        height: 90%;
    }
    .search h1 {
        margin-left: 5%;
    }
    .search input {
        width: 65vw;
        margin-left: 5%;
        
    }
    #searchIcon {
        position: relative;
        top: 10px;
        margin-left: 5%;
    }
    .video {
        height: 48vw;
        width: 90%;
        padding: 0 5%;
    }
    .video iframe {
        width: 100%;
        height: 100%;
    }
    .middle {
        height: auto;
    }
    .middle article {
        height: 78vh;
    }
    .middle h1 {
        margin-left: 7%;
        margin-top: 15%;
    }
    .icon {
        width: 30vh;
    }
    .dot {
        left: 7vw;
    }
    .verline {
        left: 7.5vw;
        height: 75vh;
    }
    .icon {
        padding-left: 25%;
        padding-top: 10vh;
    }
    .icon img {
        width: 40vw;
        max-width: 150px;
        height: unset;
    }
    .textarea{
        display: block;
        left: 5vw;
        top: 40vh;
        width: 80%;
    }
    .secondmiddle h1 {
        margin-left: 7vw;        
    }
    .dropdown {
        margin-left: 7vw;
    }
    .signuptoday {
        margin-left: 7vw;
        width: 80%;
        font-size: 1rem;
        padding: 7vh 0;

    }
    .signuptoday img {
        margin-left: 0;
        position: absolute;
        right: 10%;
    }
    .driverapp {
        padding: 6vh 7vw;
        
    }
    .driverapplogo {
        width: 92%;
        padding: 4vw;
        height: auto;
    }
    .driverapplogo img{
        width: 15vh;
        height: unset;

    }
    .driverapplogo h1 {
        width: 60%;
        bottom: 3vh;
    }
    .driverapplogo h1 img {
        position: relative;
        right: auto;
        top: 60%;
    }
    .notice {
        width: 86vw;
        padding-left: 7vw;
        padding-bottom: 20vh;
    }

    #langDropdown h1{
        max-width: 80%;
    }
    .dropdownItems {
        min-width: 250px;
    }
    #locationDropdown h1{
        max-width: 230px;
    }
    #locationDropdown input{
        left: 8vw;
        min-width: 230px;
    }
    #locationInfo {
        top: 22vh;
        left: 10vw;
        min-width: 250px;
    }
    #locationbtn {
        top: 22vh;
        left: 10vw;
    }
    #locationDropdown h3 {
        top: 22vh;
        left: 10vw;
        min-width: 200px;
    }
    
    #hiddenText {
        top: 22vh;
        left: 10vw;
        min-width: 200px;
    }
    .icons1 {
        width: 100%;
        margin-bottom: 50px;
    }
    .icons1 img {
        margin-right: 0vw;
    }
    .icons2 {
        padding-left: 0;
        width: 100%;
        margin-bottom: 50px;
    }
    .appstore img {
        margin-right: 2vw;
    }
    .rightfoot {
        display: block;
        padding-left: 0;
        margin-top: 50px;
    }


}




